<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{Admin} Log in</h1></br>
            <form action="/api/admin/login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>