<% include ../partials/header %>    
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Improve our Services by Sending us a Feedback!</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/api/user/feedback" method="POST">
                <% if (currentUser) { %>
                    <div class="form-group">
                        <input class="form-control" type="text" name="currentUser[username]" value="<%= currentUser.username %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Heading</label>
                        <input type="text" id="heading" name="heading" class="form-control" required>
                    </div>
                    <div class="md-form" style="padding-bottom: 2em;">
                        <label for="body">Feedback Textarea</label>
                        <textarea id="body" name="body" class="md-textarea form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                <% } %>
            </form>
            <a href="/api/menus" style="padding-left: 10em;">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>



