
{{> header }}
<section class="section-about" id="about">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Get food fast &mdash; not fast food
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <h3 class="heading-tetiary u-margin-bottom-small">
                You're going to fall in love with CravedFoods
            </h3>
            <p class="paragraph">
                Hello, we're CravedFoods, your new premium food delivery service. We know you're always busy. No
                time for cooking. So let us take care of that, we're really good at it, we promise!
            </p>
            <h3 class="heading-tetiary u-margin-bottom-small">
                Live a healthier life
            </h3>
            <p class="paragraph">
                Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage.
                You can also choose to order more flexibly if that's your style.
            </p>
            <h3 class="heading-tetiary u-margin-bottom-small">
                Ready in 20 minutes
            </h3>
            <p class="paragraph">Start eating healthy today.
                You're only twenty minutes away from your delicious and super healthy
                meals delivered right to your home!
            </p>
        </div>
        <div class="col-1-of-2">
            <div class="composition">

                <img srcset="../img/6.jpg 300w, ../img/6.jpg 1000w"
                    sizes="(max-wid56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 1"
                    class="composition__photo composition__photo--p1" src="../img/6.jpg">

                <img srcset="../img/7.jpg 300w, ../img/7.jpg 1000w"
                    sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 2"
                    class="composition__photo composition__photo--p2" src="./img/7.jpg">

                <img srcset="../img/8.jpg 300w, ../img/8.jpg 1000w"
                    sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 3"
                    class="composition__photo composition__photo--p3" src="./img/8.jpg">
            </div>
        </div>
    </div>
</section>

{{> footer }}