<% include ../partials/header %>
<section class="section-cities" id="cities">
    <div class="row">
        <h2 class="heading-secondary u-center-text">We're currently in these districts</h2>
    </div>
    <div class="row">
        <div class="col-1-of-4 box">
            <img src="../../img/liwan_district.jpg" alt="Liwan">
            <h3>Liwan District</h3>
            <div class="city-feature">
                <i class="fa fa-users" aria-hidden="true"></i>
                1400+ happy eaters
            </div>
            <div class="city-feature">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                60+ top chefs
            </div>
            <div class="city-feature">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <a href="#">@cravedfoods_lw</a>
            </div>
        </div>
        <div class="col-1-of-4 box">
            <img src="../../img/tianhe_district.jpg" alt="Tianhe">
            <h3>Tianhe District</h3>
            <div>
                <i class="fa fa-users" aria-hidden="true"></i>
                2500+ happy eaters
            </div>
            <div>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                120+ top chefs
            </div>
            <div class="city-feature">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <a href="#">@cravedfoods_th</a>
            </div>
        </div>
        <div class="col-1-of-4 box">
            <img src="../../img/huangpu_district.jpg" alt="Huangpu">
            <h3>Huangpu District</h3>
            <div class="city-feature">
                <i class="fa fa-users" aria-hidden="true"></i>
                2800+ happy eaters
            </div>
            <div class="city-feature">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                110+ top chefs
            </div>
            <div class="city-feature">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <a href="#">@cravedfoods_pu</a>
            </div>
        </div>
        <div class="col-1-of-4 box">
            <img src="../../img/hansha_district.jpg" alt="Hansha">
                <h3>Hansha District</h3>
                <div class="city-feature">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    1200+ happy eaters
                </div>
                <div class="city-feature">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    50+ top chefs
                </div>
                <div class="city-feature">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <a href="#">@cravedfoods_hs</a>
                </div>
        </div>
    </div>

</section>
<% include ../partials/footer %>