<% include ../partials/header %>

<section class="section-stories" id="howitworks">
    <div class="u-center-text">
        <h2 class="heading-secondary">
            Are you craving for your favorite dish?!
        </h2>
    </div>

    <div class="row">
        <div class="story">

            <div class="story__text">
                <h3 class="heading-tetiary u-margin-bottom-small">
                    Subscribe to one of our packages
                </h3>
                <p>
                    CravedFoods is just awesome! To serve our esteemed customers with different budgets, we have three different packages namely: The Premium Package, the Pro Package and Starter Package.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="story">
            <div class="story__text">
                <h3 class="heading-tetiary u-margin-bottom-small">
                    Order for yourself and your friends
                </h3>
                <p>
                    Ordering has become easier. You can order for your friends who live in any of the districts we serve by  just supplying his email and delivery address.
                </p>
            </div>
        </div>
    </div>

    <div class="u-center-text u-margin-top-huge">
        <a href="/api/menus" class="btn-text">View Menu Now!</a>
    </div>
</section>
<% include ../partials/footer %>